header {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #bbd6fa;

  @keyframes slideInHead {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(75%);
    }
  }

  @keyframes slideOutHead {
    from {
      transform: translateX(75%);
    }

    to {
      transform: translateX(0%);
    }
  }

  .header_left {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;

    &.header_open {
      animation: slideInHead 0.3s forwards;
      margin-left: 1%;
    }

    &.header_close {
      animation: slideOutHead 0.3s forwards;
      margin-left: 1%;
    }

    img {
      width: 56px;
      height: 56px;
      cursor: pointer;
    }
    span {
      position: relative;

      input {
        padding-left: 5%;
        background-color: #93c4fd44;
        border: none;
        width: 300px;
        height: 56px;
        border-radius: 30px;
        font-size: 17px;
        background-image: url("./assets/search.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 24px;
        background-position-x: 90%;
      }

      img {
        position: absolute;
        top: 30%;
        right: 4%;
        width: 24px;
        height: 24px;
      }
    }
  }

  .header_right {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 65%;

    .header_opt {
      display: flex;
      flex-direction: row;
      gap: 10px;

      & > img {
        height: 20px;
        width: 20px;
        cursor: pointer;
      }

      img {
        height: 24px;
        width: 24px;
        cursor: pointer;
      }
    }

    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }

    .header_avatar {
      width: 62px;
      height: 62px;
    }
  }
}

.header_dark {
  border-bottom: 2px solid #2e1f57;
  background-color: #575757;
}
